<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Catalyst</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a routerLink="" (click)="onSelect('login')">Login</a></li>
        <li><a routerLink="register" (click)="onSelect('create')">Create Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle" role="button">My Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Me</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Account Settings</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
