
<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>


<!-- Registration Form -->
<form [formGroup]="form">

  <!-- Select sports to create -->
  <div class="form-group">
    <label for="sport">Sport</label>
    <div [ngClass]="{'has-error': (form.controls.sport.errors && form.controls.sport.dirty) || (form.controls.sport.dirty),
           'has-success': !form.controls.sport.errors}">
      <div class="row">
        <div class="col-xs-12">
          <div *ngIf="radioORcheck === 'checkbox'; else elseBlock">
            <div class="btn-group btn-group-vertical" data-toggle="buttons">
              <p class="btn" (click)="changeValue('baseball')" >
                <input value="baseball" type="checkbox" id="option1" name="radio-group">
                <label for="option1">Baseball</label>
              </p>
              <p class="btn" (click)="changeValue('football')" >
                <input value="football" type="checkbox" id="option2" name="radio-group">
                <label for="option2">Football</label>
              </p>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="btn-group btn-group-vertical" data-toggle="buttons">
              <p class="btn">
                <input value="baseball" type="radio" id="baseball" name="radio-group">
                <label for="option1">Baseball</label>
              </p>
              <p class="btn">
                <input value="football" type="radio" id="football" name="radio-group">
                <label for="option2">Football</label>
              </p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

</form>
<!-- Registration Form /-->
