<div class="container-fluid">
  <div class="row">
    <div class="col-md-11">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1">username</span>
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-describedby="sizing-addon1"
          [(ngModel)]="username"
          (input)="usernameStyle($event)"
          #usernameInput>
      </div>
    </div>
    <div class="col-md-11">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">password</span>
        <input
          type="password"
          class="form-control"
          placeholder="••••••••"
          aria-describedby="sizing-addon1"
          [(ngModel)]="password"
          (input)="passwordStyle($event)"
          #passwordInput>
      </div>
    </div>
    <div class="col-md-11">
      <hr>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!loginFields"
          (click)="onLogin()">Login
        </button>
      <p *ngIf="loginPress">{{loginStatus}}</p>
    </div>
  </div>
</div>
