<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="input-group">
        <p>Username</p>
        <input
          type="text"
          class="form-control"
          aria-describedby="sizing-addon1"
          (input)="usernameStyle($event)"
          #usernameInput>
      </div>
      <div class="input-group">
        <p>Password</p>
        <input
          type="text"
          class="form-control"
          aria-describedby="sizing-addon1"
          (input)="passwordStyle($event)"
          #passwordInput>
      </div>
      <div class="input-group">
        <p>First Name</p>
        <input
          type="text"
          class="form-control"
          aria-describedby="sizing-addon1"
          #first>
      </div>
      <div class="input-group">
        <p>Last Name</p>
        <input
          type="text"
          class="form-control"
          aria-describedby="sizing-addon1"
          #last>
      </div>
      <div class="input-group">
        <p>Email</p>
        <input
          type="text"
          class="form-control"
          placeholder="example@gmail.com"
          aria-describedby="sizing-addon1"
          #email>
      </div>
    </div>
    <div class="col-md-11">
      <hr>
      <button
        type="button"
        class="btn btn-primary"
        (click)="onCreate()">Create</button>
      <p>{{createStatus}}</p>
    </div>
  </div>
</div>
