<div class="container">
  <div class="row">
    <div class="col-md-11">
      <div class="input-group">
        <h3>Username</h3>
        <input
          type="text"
          class="form-control"
          aria-describedby="sizing-addon1"
          (input)="usernameStyle($event)"
          #usernameInput>
      </div>
      <div class="input-group">
        <h3>Password</h3>
        <input
          type="text"
          class="form-control"
          aria-describedby="sizing-addon1"
          (input)="passwordStyle($event)"
          #passwordInput>
      </div>
      <div class="input-group">
        <h3>Name</h3>
        <input
          type="text"
          class="form-control"
          aria-describedby="sizing-addon1"
          #name>
      </div>
      <div class="input-group">
        <h3>Email</h3>
        <input
          type="text"
          class="form-control"
          placeholder="example@gmail.com"
          aria-describedby="sizing-addon1"
          #email>
      </div>
    </div>
    <div class="col-md-11">
      <hr>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="!fields"
        (click)="onCreate()">Create</button>
      <p *ngIf="createPress">{{createStatus}}</p>
    </div>
  </div>
</div>
