<div class="container">

  <h1 class="page-header">Admin Page</h1>
  <h2>Your Sports</h2>
  <ul *ngFor="let sport of sportsList">
    <li class="list-group-item">{{ sport }}</li>
  </ul>

  <button class="btn btn-primary" (click)="makeVisible()">
    Edit
  </button>

  <div *ngIf="formVisible">
    <div *ngFor="let sport of sportsList">
      <label for="{{sport.name}}">
        <input id="{{sport.name}}" [value]='sport' type="checkbox" name="sports">
        {{sport}}
      </label>
    </div>
    <button class="btn btn-primary" (click)="deleteSport()">
      Delete
    </button>
    <button class="btn btn-primary" (click)="addSport()">
      Add
    </button>
  </div>

</div>

